.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 77px auto 0;
}

.u-section-1 .u-form-1 {
  height: 212px;
  width: 570px;
  margin: 29px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -68px auto 0 196px;
  padding: 11px 55px 12px 53px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -49px auto 60px;
  padding: 11px 55px 12px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}