.u-section-1 .u-sheet-1 {
    min-height: 715px;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 569px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    margin-bottom: 0;
    margin-top: 0;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 356px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-1 .u-text-2 {
    margin: 136px 0 0;
}

.u-section-1 .u-layout-cell-3 {
    min-height: 265px;
}

.u-section-1 .u-container-layout-3 {
    padding: 0 15px;
}

.u-section-1 .u-form-1 {
    height: 212px;
    width: 436px;
    margin: 21px auto 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
}

.u-section-1 .u-btn-2 {
    background-image: none;
    margin: -67px auto 0 139px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 839px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 315px;
        background-position: 50% 50%;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 315px;
    }

    .u-section-1 .u-layout-cell-3 {
        background-position: 50% 50%;
        min-height: 197px;
    }

    .u-section-1 .u-form-1 {
        width: 316px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 19px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1559px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1275px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1027px;
    }
}
