.u-section-1 .u-sheet-1 {
  min-height: 300px;
}

.u-section-1 .u-text-1 {
  margin: 105px auto 60px;
}

.u-section-1 .u-btn-1 {
  margin: 108px auto 42px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 79px;
    margin-bottom: 0;
  }
}