body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar-tabs {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar-tabs a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar-tabs__content a.active {
    background-color: #4e95ff;
    color: white;
    display: block;
  }
  
  .sidebar-tabs a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .sidebar-tabs__content {
    margin-left: 90px;
    padding: 1px 16px;
    height: 300px;
    display: none;
  }
  
  /* @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  } */
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  